<form method="POST" action="/companies/create">
   <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input class="form-control" id="exampleInputEmail1" placeholder="Enter name" name="name" value="{{form.name}}">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Code</label>
    <input class="form-control" id="exampleInputEmail1"  placeholder="Enter code" name="code" value="{{form.code}}">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Money</label>
    <input class="form-control" id="exampleInputEmail1"  placeholder="Enter money" name="money" value="{{form.money}}">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Description</label>
    <input class="form-control" id="exampleInputEmail1"  placeholder="Enter phrase" name="catchPhrase" value="{{form.description}}">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

